<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>폼 전송 결과</title>
</head>
<body>
    <h1><%= title%>폼 결과 확인하기</h1>
    <div>
        <span><%=userInfo.name %></span>님의 성별은
        <span><%=userInfo.gender%></span>이며,
    <div>
        생년월일은 <span><%=userInfo.birth%></span>
    </div>
    <div>
        관심사는 <span><%=userInfo.like%></span> 이시군요!
    </div>

    <!-- <h1><%= title%>폼 결과 확인하기</h1>
    <div>
        <span><%=userInfo.name %></span>님의 성별은
        <span><%=userInfo.gender%></span>이며,
    <div>
        생년월일은 <span><%=userInfo.birth%></span>
    </div>
    <div>
        관심사는 <span><%=userInfo.like%></span> 이시군요!
    </div> -->
</body>
</html>